@using Entities.Concrete
@{
    ViewData["Title"] = "Get Shipping Companies";
    List<ShippingCompany> shippingCompanyList = new List<ShippingCompany>();
}

@section Header{

}




<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İsim</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @{
                    int j = 1;
                    foreach (var item in shippingCompanyList)
                    {
                        <td>@j</td>
                        <td>@item.Name</td>
                        j++;
                    }

                }

            </tr>
        </tbody>
    </table>
</div>




@section Scripts{
    <script>
        $.ajax({
            url: "/ShippingCompany/GetShippingCompanies",
            method: "GET",
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    $('tbody').append(`<tr> <td>${(data[i].id)}</td>  <td>${(data[i].name)}</td> </tr>`)
                }
            }
        })
    </script>
}
