@using Entities.Concrete
@{
    ViewData["Title"] = "Softinny Task";
    List<ShippingCompany> shippingData = new List<ShippingCompany>();
    List<Category> categoryData = new List<Category>();
}


@section Header{
    <style>

    </style>
}

    <div id="root">
        <form method="post" action="/Product/AddProduct">

            <div class="container mt-5">
                <div class="row d-flex justify-content-center productRow my-5" data-row-id="1">
                    <div class="col-md-8 mb-3 form-group">
                        <label> Ürün Adı</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-solid fa-file-signature"></i></span>
                            </div>
                            <input type="text" name="ProductNames[]" placeholder="Ürün Adı" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 form-group">
                        <label> Alış Fiyatı </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <input type="text" name="PurchasePrices[]" placeholder="123.123" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 form-group">
                        <label> Satış Fiyatı </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <input type="text" name="SalePrices[]" placeholder="123.123" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 form-group">
                        <label> Ürün Açıklaması </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-solid fa-file-signature"></i></span>
                            </div>
                            <textarea name="Descriptions[]" placeholder="Aracın değişeni yoktur. Sadece 5 taklalıdır." class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 form-group">
                        <label> Stok Adeti </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <input type="text" name="Stocks[]" placeholder="123" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 form-group">
                        <label> Kargo Şirketi </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-solid fa-truck"></i></span>
                            </div>
                            <select placeholder="Kargo Şirketi Seçiniz." name="CargoCompanyIds[]" class="form-control selectBoxForShipping" data-row-id="1" required></select>
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 categories">
                        <label> Kategori </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <select placeholder="Kategori Seçiniz." name="CategoryIds[]" class="form-control selectBoxForCategory" data-row-id="1" required></select>
                        </div>
                    </div>

                    <div class="btn btn-outline-danger deleteRow" style="display:none" data-row-id="1">
                        Satır Sil
                    </div>

                    <hr />
                </div>
                @*Add Product and New Line Buttons*@
                <div class="row  d-flex justify-content-end">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary submit" id="submit">
                                Kaydet
                            </button>
                            <div class="btn btn-outline-warning addRow">
                                Satır Ekle
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @section Scripts{
    <script>
        var dataRowId = 1;

        $(document).ready(function() {
            var select2ShippingClass = ".selectBoxForShipping"
            var select2ShippingUrl = "/ShippingCompany/GetShippingCompanies"
            var select2CategoryClass = ".selectBoxForCategory"
            var select2CategoryUrl = "/Category/GetCategories"
            Select2Prepare(select2ShippingClass, select2ShippingUrl)
            Select2Prepare(select2CategoryClass, select2CategoryUrl)
        })

        $(".addRow").on('click', function() {
            dataRowId++;
            var productRow = $(".productRow[data-row-id='1']");
            var items = productRow.find("input, select,textarea")
            var labels = productRow.find("label");
            var spans = productRow.find("i");
            var component = "";
            component += '<div class="row d-flex justify-content-center productRow my-5" data-row-id="' + dataRowId + '">';
            $.each(items, function(k, i) {
                $(i).attr("data-row-id", dataRowId);
                component += '<div class="col-md-8 mb-3 form-group">' +
                    labels[k].outerHTML +
                    '<div class="input-group">' +
                    '<div class="input-group-prepend">' +
                    '<span class="input-group-text">' +
                    spans[k].outerHTML +
                    '</span>' +
                    '</div>' +
                    i.outerHTML +
                    '</div>' +
                    '</div>' +
                    '<br>';
            })
            component += '<div class="btn btn-outline-danger col-md-5 deleteRow" data-row-id="' + dataRowId + '">' +
                'Satır Sil' +
                '</div>';
            component += '<hr>'
            component += '</div>';

            $(".productRow").last().after(component);
            addDeleteRowFunction(".deleteRow[data-row-id='" + dataRowId + "']");
            $(".productRow").last().find(".selectBoxForShipping").val(null).trigger('change');
            $(".productRow").last().find(".selectBoxForCategory").val(null).trigger('change');


            var select2ShippingClass = ".selectBoxForShipping"
            var select2ShippingUrl = "/ShippingCompany/GetShippingCompanies"
            var select2CategoryClass = ".selectBoxForCategory"
            var select2CategoryUrl = "/Category/GetCategories"
            Select2Prepare(select2ShippingClass, select2ShippingUrl)
            Select2Prepare(select2ShippingClass, select2ShippingUrl)
            Select2Prepare(select2CategoryClass, select2CategoryUrl)
            Select2Prepare(select2CategoryClass, select2CategoryUrl)
        });

        $(".deleteRow").on('click', function() {
            var currentRow = $(this).attr("data-row-id");
            console.log(currentRow);
            var productRow = $(".productRow[data-row-id='" + currentRow + "']");
            productRow.remove();
        })

        function addDeleteRowFunction(thiss) {
            $(thiss).on('click', function() {
                var currentRow = $(thiss).attr("data-row-id");
                var productRow = $(".productRow[data-row-id='" + currentRow + "']");
                productRow.remove();
            })
        }       

    </script>
}