@using MVC.ViewModels
@{
    ViewData["Title"] = "Get Products";
    List<ProductModelForListProducts> productList = new List<ProductModelForListProducts>();
}
@section Header{
}


    <section class="content">
        <div class="container-fluid">
            <div id="loading" class="spinner-grow overlay__spinner" style="display:none;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Ürünleriniz</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" style="display:none;" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Düzenle</th>
                                        <th>İsim</th>
                                        <th>Alış Fiyatı</th>
                                        <th>Satış Fiyatı</th>
                                        <th>Açıklama</th>
                                        <th>Stok</th>
                                        <th>Kargo Şirketi</th>
                                        <th>Kategori</th>
                                        <th>sil knk</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <button disabled type="button" class="btn btn-danger deleteCheckedButton">Seçili Olan Ürünleri Sil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    @section Scripts{
    <script>
        $(document).ready(function() {
            var selectedList = 0;
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            function addOnChangeCheckbox(checkbox) {
                $(checkbox).change(function() {
                    console.log(selectedList)
                    if ($(this).is(":checked")) {

                        selectedList++;
                    }
                    else {

                        selectedList--;
                    }
                    console.log(selectedList)

                    if (selectedList >= 1) {

                        $(".deleteCheckedButton").prop("disabled", false)
                    }
                    else {

                        $(".deleteCheckedButton").prop("disabled", true)
                    }



                })
            }

            $.ajax({
                url: "/Product/GetProducts",
                method: "GET",
                beforeSend: function() { $("#loading").show(); },
                success: function(data) {
                    $("#loading").hide();
                    $("#example1").show();
                    for (var i = 0; i < data.length; i++) {
                        $('tbody').append(`<tr class="listViewProducts" data-row-id='${i + 1}' product-id='${data[i].id}'>
                        <td><div class="icheck-danger d-inline">
                        <input type="checkbox" style="width:30px; height:30px;" product-id='${data[i].id}' class="deleteProductCheckBox">
                        </div></td>
                        <td><a href="/Product/UpdateProduct/${data[i].id}" class="btn btn-success updateRowButton" data-row-id='${(i + 1)}'>Düzenle</a></td><td>${data[i].name}</td>
                        <td>${data[i].purchasePrice}</td><td>${data[i].salePrice}</td><td>${data[i].description}</td><td>${data[i].stock}</td><td>${data[i].cargoCompanyName}</td><td>${data[i].categoryName}</td><td><div type="submit" class="btn btn-danger deleteRow submit"data-row-name='${data[i].name}'data-row-id='${(i + 1)}'>Sil</div></td></tr>`);

                        var dataRowName = data[i].name;
                        addDeleteOneRowFunction(".deleteRow[data-row-name='" + dataRowName + "']");
                        addOnChangeCheckbox($("input[product-id='" + data[i].id + "'][class='deleteProductCheckBox']"));
                    }

                    $("#example1").DataTable({
                        "responsive": true, "lengthChange": false, "autoWidth": false,
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                }
            })
        })




        function cancelFunction() {
            toastr.warning('Silmekten vazgeçtiniz.', 'Ürün silinmedi.')
        }

        function acceptFunction(deleteRowOne) {
            var currentRowName = $(deleteRowOne).attr("data-row-name");

            var currentRowId = $(deleteRowOne).attr("data-row-id");

            var productRow = $(".listViewProducts[data-row-id='" + currentRowId + "']");
            var productIdtoDelete = productRow.attr("product-id");
            $.ajax({
                url: '/Product/DeleteProduct',
                type: 'POST',
                dataType: 'json',
                data: { productId: productIdtoDelete },
                success: function(result) {

                    if (result.success == true) {
                        var deleteMessage = currentRowName + " İsimli Ürün Silindi"
                        toastr.success(result.message, deleteMessage);
                        productRow.hide('500', function() { productRow.remove() })
                    }
                    else {
                        toastr.info(result.message, 'Information Alert');
                    }
                },
                error: function(err) {
                    toastr.error('Dat Dat Error', 'Error Alert');
                }
            });
        }
        function addDeleteOneRowFunction(thiss) {
            var swallRowText = "ürün silinsin mi"
            $(thiss).on('click', function() {
                AcceptenceSwal(swallRowText, "Evet", "Hayır", function() { return acceptFunction(thiss) }, function() { return cancelFunction() })
            })
        }

        $(".deleteCheckedButton").on('click', function() {
            var swallRowText = "Seçili Ürünler Silinsin mi?"
            AcceptenceSwal(swallRowText, "Evet", "Hayır", function() { return deleteSelectedProductsFunction() }, function() { return cancelFunction() })
        })





        function deleteSelectedProductsFunction() {
            var selectedInputs = $("input:checked")
            var rows = [];
            var listToPost = [];
            $.each(selectedInputs, function(k, i) {
                var productId = $(i).attr("product-id")
                var row = $(i).parent().parent().parent();
                rows.push(row);
                listToPost.push(productId)
            })
            $.ajax({
                url: '/Product/DeleteSelectedProducts',
                type: 'POST',
                dataType: 'json',
                data: { productIds: listToPost },
                success: function(result) {

                    if (result.success == true) {
                        var deleteMessage = "Seçili Ürünler Silindi";
                        var table = $("#example1").DataTable();
                        toastr.success(result.message, deleteMessage);
                        $.each(selectedInputs, function(k, i) {
                            var rowsTable = table.rows(rows);
                            rows[k].hide('500', function() { rowsTable.remove().draw(); rows[k].remove(); })
                        })
                    }
                    else {
                        toastr.info(result.message, 'Information Alert');
                    }
                },
                error: function(err) {
                    toastr.error('Dat Dat Error', 'Error Alert');
                }
            });

        }



    </script>
}



