@using Entities.Concrete
@{
    ViewData["Title"] = "Softinny Task";
}

<div id="root">
    <form method="post" action="/Home/AddCategory">

        <div class="container mt-5">
            <div class="row d-flex justify-content-center categoryRow my-5" data-row-id="1">
                <div class="col-md-8 mb-3">
                    <label> Kategori Adı</label>
                    <div class="form-group">
                        <input type="text" name="CategoryNames[]" placeholder="Kategori ismi giriniz" class="form-control" required />
                    </div>
                </div>
                <div class="btn btn-outline-danger deleteRow" style="display:none" data-row-id="1">
                    Satır Sil
                </div>
                <hr />
            </div>
            <div class="row  d-flex justify-content-end">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary submit" id="submit">
                            Kaydet
                        </button>
                        <div class="btn btn-outline-warning addRow">
                            Satır Ekle
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>

        var dataRowId = 1;
        $(".addRow").on('click', function() {
            var categoryRow = $(".categoryRow[data-row-id='1']");
            var newRow = categoryRow.clone();
            var lastRow = $(".categoryRow").last();
            dataRowId++;
            lastRow.after(newRow);
            categoryRow.parent().find(".categoryRow").last().attr("data-row-id", dataRowId);
            categoryRow.parent().find(".deleteRow").last().attr("data-row-id", dataRowId);
            categoryRow.parent().find(".deleteRow").last().show();
            addDeleteRowFunction(categoryRow.parent().find(".deleteRow").last());

        })

        $(".deleteRow").on('click', function() {
                var currentRow = $(this).attr("data-row-id");
                var categoryRow = $(".categoryRow[data-row-id='" + currentRow + "']");
                categoryRow.remove();
            })

        function addDeleteRowFunction(thiss) {
            $(thiss).on('click', function() {
                var currentRow = $(thiss).attr("data-row-id");
                var categoryRow = $(".categoryRow[data-row-id='" + currentRow + "']");
                categoryRow.remove();
            })
        }

    </script>


}
