<!DOCTYPE html>
<html lang="en">
<head>

    @await Html.PartialAsync("../Shared/_HeaderHtml.cshtml")
    @await RenderSectionAsync("Header", required: false)
</head>
<body class="layout-top-nav">
    @await Html.PartialAsync("../Shared/_Sidebar.cshtml")
    @await Html.PartialAsync("../Shared/_Header.cshtml")
    
    <div class="container ">
        <main role="main" class="pb-3">
            
            @RenderBody()
        </main>

    </div>

    @await Html.PartialAsync("../Shared/_Footer.cshtml")
    @await Html.PartialAsync("../Shared/_FooterHtml.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
