  <!-- Main Sidebar Container -->
<aside class="layout-fixed main-sidebar sidebar-dark-primary elevation-4 ">
    <!-- Brand Logo -->
    <a href="/Home/Homepage" class="brand-link">
        <img src="~/img/softinnyLogo.jpg" class="brand-image elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Softinny Yazılım</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @*PRODUCT*@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Ürün İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Product/AddProduct" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürün Ekle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Product/GetAllProducts" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürünleri Listele</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @* SHIPPING COMPANY*@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-truck"></i>
                        <p>
                            Kargo Şirketi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/ShippingCompany/AddShippingCompany" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Şirket Ekle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/ShippingCompany/GetAllShippingCompanies" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Şirketleri Listele</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @*CATEGORIES*@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Kategori İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Category/AddCategory" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kategori Ekle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Category/GetAllCategories" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kategorileri Listele</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>