<div id="root">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center productRow my-5" data-row-id="1">
            <div class="col-md-8 mb-3 categories">
                <label> Güncellemek İstediğiniz Ürünü Seçiniz. </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <select placeholder="Kategori Seçiniz." class="form-control selectBoxForSelectProducts" data-row-id="1" required></select>
                </div>
            </div>
        </div>
    </div>

    <form method="post" action="/Product/UpdateProduct">

        <div class="container mt-5">
            <div class="row d-flex justify-content-center productRow my-5" data-row-id="1">
                <div class="col-md-8 mb-3 form-group">
                    <label> Ürün Adı</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-file-signature"></i></span>
                        </div>
                        <input type="text" name="ProductNames[]" placeholder="Ürün Adı" class="form-control productNameTextbox">
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Alış Fiyatı </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input type="text" name="PurchasePrices[]" placeholder="123.123" class="form-control productPurchasePriceTextBox" required />
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Satış Fiyatı </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input type="text" name="SalePrices[]" placeholder="123.123" class="form-control productSellingPriceTextBox" required />
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Ürün Açıklaması </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-file-signature"></i></span>
                        </div>
                        <textarea name="Descriptions[]" placeholder="Aracın değişeni yoktur. Sadece 5 taklalıdır." class="form-control productDescriptionTextBox" required></textarea>
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Stok Adeti </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input type="text" name="Stocks[]" placeholder="123" class="form-control productStockAmountTextBox" required />
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Kargo Şirketi </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-truck"></i></span>
                        </div>
                        <select placeholder="Kargo Şirketi Seçiniz." name="CargoCompanyIds[]" class="form-control selectBoxForShipping" data-row-id="1" required></select>
                    </div>
                </div>
                <div class="col-md-8 mb-3 categories">
                    <label> Kategori </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <select placeholder="Kategori Seçiniz." name="CategoryIds[]" class="form-control selectBoxForCategory" data-row-id="1" required></select>
                    </div>
                </div>

            </div>
            @*Add Product and New Line Buttons*@
            <div class="row  d-flex justify-content-end">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary submit" id="submit">
                            Kaydet
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

<script>


    $(document).ready(function() {
        Select2Prepare(".selectBoxForSelectProducts", "/Product/GetProducts")
        Select2Prepare(".selectBoxForShipping", "/ShippingCompany/GetShippingCompanies")
        Select2Prepare(".selectBoxForCategory", "/Category/GetCategories")
    })
    $(".selectBoxForSelectProducts").change(function() {
        var dataa = $(".selectBoxForSelectProducts option:selected").prop('outerHTML')
        var productIdToController = $(dataa).attr('value')

        $.ajax({
            url: "/Product/GetProductForUpdate",
            method: "GET",
            dataType: 'json',
            data: { productId: productIdToController },
            success: function(data) {
                $(".productNameTextbox").val(data.name)
                $(".productPurchasePriceTextBox").val(data.purchasePrice)
                $(".productSellingPriceTextBox").val(data.salePrice)
                $(".productStockAmountTextBox").val(data.stock)
                $(".productDescriptionTextBox").val(data.description)


                var shipping = $(".selectBoxForShipping").find("li")
                console.log(shipping)

            }
        })
    })

</script>